<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appSettings>
        <remove key="receiptFilePath" />
        <remove key="pingURL" />
        <remove key="maxReportResults" />
        <remove key="envoiFilePath" />
    </appSettings>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <staticContent>
            <mimeMap fileExtension=".run" mimeType="application/x-run" />
        </staticContent>
    </system.webServer>
</configuration>
